<!doctype html>

<html>
<head>
	<title>Read By Mood</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/choosemood.css" rel="stylesheet">
	<!--<link href="/css/introHCI.css" rel="stylesheet"> -->
	<!-- this is a comment in HTML -->

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->        
  </head>

  <body>
  	<!-- Insert code here -->
  	<nav class="navbar navbar-default navbar-inverse" role="navigation">
  		<div class="container">  	  	
  			<h2 class="navbar-text"> What is your mood now?</h1>
  		</div>

  	</nav>
  	<div class="container">


  		<div data-toggle="buttons-radio">
        {{#each tags}}
          <button class="btn btn-lg tag" id="tag{{this.id}}">{{this.name}}</button>
        {{/each}}
        <!--
  			<button class="btn btn-lg tag" id="test0">Mon</button>
  			<button class="btn btn-lg tag" id="test1">Tue</button>
  			<button class="btn btn-lg tag" id="test2">Wed</button>
  			<button class="btn btn-lg tag" id="test3">Thu</button>
  			<button class="btn btn-lg tag" id="test4">Fri</button>
  			<button class="btn btn-lg tag" id="test5">Sat</button>
  			<button class="btn btn-lg tag" id="test6">Sun</button>
  			<button class="btn btn-lg tag" id="test0">Mon</button>
  			<button class="btn btn-lg tag" id="test1">Tue</button>
  			<button class="btn btn-lg tag" id="test2">Wed</button>
  			<button class="btn btn-lg tag" id="test3">Thu</button>
  			<button class="btn btn-lg tag" id="test4">Fri</button>
  			<button class="btn btn-lg tag" id="test5">Sat</button>
  			<button class="btn btn-lg tag" id="test6">Sun</button>
  			<button class="btn btn-lg tag" id="test0">Mon</button>
  			<button class="btn btn-lg tag" id="test1">Tue</button>
  			<button class="btn btn-lg tag" id="test2">Wed</button>
  			<button class="btn btn-lg tag" id="test3">Thu</button>
  			<button class="btn btn-lg tag" id="test4">Fri</button>
  			<button class="btn btn-lg tag" id="test5">Sat</button>
  			<button class="btn btn-lg tag" id="test6">Sun</button>
  			<button class="btn btn-lg tag" id="test0">Mon</button>
  			<button class="btn btn-lg tag" id="test1">Tue</button>
  			<button class="btn btn-lg tag" id="test2">Wed</button>
  			<button class="btn btn-lg tag" id="test3">Thu</button>
  			<button class="btn btn-lg tag" id="test4">Fri</button>
  			<button class="btn btn-lg tag" id="test5">Sat</button>
  			<button class="btn btn-lg tag" id="test6">Sun</button>
  			<button class="btn btn-lg tag" id="test0">Mon</button>
  			<button class="btn btn-lg tag" id="test1">Tue</button>
  			<button class="btn btn-lg tag" id="test2">Wed</button>
  			<button class="btn btn-lg tag" id="test3">Thu</button>
  			<button class="btn btn-lg tag" id="test4">Fri</button>
  			<button class="btn btn-lg tag" id="test5">Sat</button>
  			<button class="btn btn-lg tag" id="test6">Sun</button>
  			<button class="btn btn-lg tag" id="test0">Mon</button>
  			<button class="btn btn-lg tag" id="test1">Tue</button>
  			<button class="btn btn-lg tag" id="test2">Wed</button>
  			<button class="btn btn-lg tag" id="test3">Thu</button>
  			<button class="btn btn-lg tag" id="test4">Fri</button>
  			<button class="btn btn-lg tag" id="test5">Sat</button>
  			<button class="btn btn-lg tag" id="test6">Sun</button>
  			<button class="btn btn-lg tag" id="test0">Mon</button>
  			<button class="btn btn-lg tag" id="test1">Tue</button>
  			<button class="btn btn-lg tag" id="test2">Wed</button>
  			<button class="btn btn-lg tag" id="test3">Thu</button>
  			<button class="btn btn-lg tag" id="test4">Fri</button>
  			<button class="btn btn-lg tag" id="test5">Sat</button>
  			<button class="btn btn-lg tag" id="test6">Sun</button>
  			<button class="btn btn-lg tag" id="test0">Mon</button>
  			<button class="btn btn-lg tag" id="test1">Tue</button>
  			<button class="btn btn-lg tag" id="test2">Wed</button>
  			<button class="btn btn-lg tag" id="test3">Thu</button>
  			<button class="btn btn-lg tag" id="test4">Fri</button>
  			<button class="btn btn-lg tag" id="test5">Sat</button>
  			<button class="btn btn-lg tag" id="test6">Sun</button>
  			<button class="btn btn-lg tag" id="test0">Mon</button>
  			<button class="btn btn-lg tag" id="test1">Tue</button>
  			<button class="btn btn-lg tag" id="test2">Wed</button>
  			<button class="btn btn-lg tag" id="test3">Thu</button>
  			<button class="btn btn-lg tag" id="test4">Fri</button>
  			<button class="btn btn-lg tag" id="test5">Sat</button>
  			<button class="btn btn-lg tag" id="test6">Sun</button>
  			<button class="btn btn-lg tag" id="test0">Mon</button>
  			<button class="btn btn-lg tag" id="test1">Tue</button>
  			<button class="btn btn-lg tag" id="test2">Wed</button>
  			<button class="btn btn-lg tag" id="test3">Thu</button>
  			<button class="btn btn-lg tag" id="test4">Fri</button>
  			<button class="btn btn-lg tag" id="test5">Sat</button>
  			<button class="btn btn-lg tag" id="test6">Sun</button>
  			<button class="btn btn-lg tag" id="test0">Mon</button>
  			<button class="btn btn-lg tag" id="test1">Tue</button>
  			<button class="btn btn-lg tag" id="test2">Wed</button>
  			<button class="btn btn-lg tag" id="test3">Thu</button>
  			<button class="btn btn-lg tag" id="test4">Fri</button>
  			<button class="btn btn-lg tag" id="test5">Sat</button>
  			<button class="btn btn-lg tag" id="test6">Sun</button>
  			<button class="btn btn-lg tag" id="test0">Mon</button>
  			<button class="btn btn-lg tag" id="test1">Tue</button>
  			<button class="btn btn-lg tag" id="test2">Wed</button>
  			<button class="btn btn-lg tag" id="test3">Thu</button>
  			<button class="btn btn-lg tag" id="test4">Fri</button>
  			<button class="btn btn-lg tag" id="test5">Sat</button>
  			<button class="btn btn-lg tag" id="test6">Sun</button>
  			<button class="btn btn-lg tag" id="test0">Mon</button>
  			<button class="btn btn-lg tag" id="test1">Tue</button>
  			<button class="btn btn-lg tag" id="test2">Wed</button>
  			<button class="btn btn-lg tag" id="test3">Thu</button>
  			<button class="btn btn-lg tag" id="test4">Fri</button>
  			<button class="btn btn-lg tag" id="test5">Sat</button>
  			<button class="btn btn-lg tag" id="test6">Sun</button>
  			<button class="btn btn-lg tag" id="test0">Mon</button>
  			<button class="btn btn-lg tag" id="test1">Tue</button>
  			<button class="btn btn-lg tag" id="test2">Wed</button>
  			<button class="btn btn-lg tag" id="test3">Thu</button>
  			<button class="btn btn-lg tag" id="test4">Fri</button>
  			<button class="btn btn-lg tag" id="test5">Sat</button>
  			<button class="btn btn-lg tag" id="test6">Sun</button>
  			<button class="btn btn-lg tag" id="test0">Mon</button>
  			<button class="btn btn-lg tag" id="test1">Tue</button>
  			<button class="btn btn-lg tag" id="test2">Wed</button>
  			<button class="btn btn-lg tag" id="test3">Thu</button>
  			<button class="btn btn-lg tag" id="test4">Fri</button>
  			<button class="btn btn-lg tag" id="test5">Sat</button>
  			<button class="btn btn-lg tag" id="test6">Sun</button>
  			<button class="btn btn-lg tag" id="test0">Mon</button>
  			<button class="btn btn-lg tag" id="test1">Tue</button>
  			<button class="btn btn-lg tag" id="test2">Wed</button>
  			<button class="btn btn-lg tag" id="test3">Thu</button>
  			<button class="btn btn-lg tag" id="test4">Fri</button>
  			<button class="btn btn-lg tag" id="test5">Sat</button>
  			<button class="btn btn-lg tag" id="test6">Sun</button>
  			<button class="btn btn-lg tag" id="test0">Mon</button>
  			<button class="btn btn-lg tag" id="test1">Tue</button>
  			<button class="btn btn-lg tag" id="test2">Wed</button>
  			<button class="btn btn-lg tag" id="test3">Thu</button>
  			<button class="btn btn-lg tag" id="test4">Fri</button>
  			<button class="btn btn-lg tag" id="test5">Sat</button>
  			<button class="btn btn-lg tag" id="test6">Sun</button>
        -->
  		</div>
  		<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  			<div class="container">
  				<div class="center">	
  					<a class="submit center" href="#"><button class="btn btn-lg btn-primary" disabled>Go</button></a>
  				</div>
  			</div>
  		</nav>
  	</div>

  	<script src="https://code.jquery.com/jquery.js"></script>
  	<script src="/js/bootstrap.min.js"></script>
  	<script type="text/javascript">

      function tag_clicked(obj) {
        obj.toggleClass("btn-success");
        var tagList =  $(".btn-success");
        var submitButton = $(".submit button");
        if(tagList.length == 0){
          submitButton.attr("disabled", true);
          submitButton.attr("href", "#");
        }
        else
          submitButton.attr("disabled", false);
      }

      $(document).ready(function() {
        {{#if selected_tag}}
          $(".tag").each(function() {
            if ($(this).text() == "{{selected_tag}}") {
              tag_clicked($(this));
            }
          });        
        {{/if}}
      });

    	$(".tag").click(function () {
        tag_clicked($(this));
    	});

    	$(".submit").click(function(){
    		var post = {};
   		$(".btn-success").each(function(){post[$(this).text()] = true;});
    		var query='';
    		var key;
    		for (key in post)
    			query=query+'tags[]='+key+'&';
    		query = query.slice(0,-1);
    		$(".submit").attr("href","/results?"+query);
    	});
  	</script>
  </body>
  </html>
