<!doctype html>

<html>
<head>
	<title>Read By Mood</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/choosemood.css" rel="stylesheet">
	<!--<link href="/css/introHCI.css" rel="stylesheet"> -->
	<!-- this is a comment in HTML -->

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->        
  </head>

  <body>
  	<!-- Insert code here -->
  	<nav class="navbar navbar-default navbar-inverse" role="navigation">
  		<div class="container">  	  	
  			<h2 class="navbar-text"> What is your mood now?</h1>
  		</div>

  	</nav>
  	<div class="container">


  		<div data-toggle="buttons-radio">
        {{#each tags}}
          <button class="btn btn-lg tag" id="tag{{this.id}}">{{@key}}</button>
        {{/each}}
  		</div>
  		<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  			<div class="container">
  				<div class="center">	
  					<a class="submit center" href="#">
              <button class="btn btn-lg btn-primary" disabled>Go</button>
            </a>
  				</div>
  			</div>
  		</nav>
  	</div>

  	<script src="https://code.jquery.com/jquery.js"></script>
  	<script src="/js/bootstrap.min.js"></script>
  	<script type="text/javascript">

      function tag_clicked(obj) {
        obj.toggleClass("btn-success");
        var tagList =  $(".btn-success");
        var submitButton = $(".submit button");
        var dataSent = {
          tags: []
        };
        tagList.each(function(){
          dataSent.tags.push($(this).text());
        }
        );
        if(tagList.length == 0){
          submitButton.attr("disabled", true);
          $(".submit").attr("href", "#");
          submitButton.text("Go");
        }
        else {
          //retrieve number of articles and available tag list from server
          $.ajax({
            type: 'POST',
            data: JSON.stringify(dataSent),
            contentType: 'application/json',
            url: '/choosemood',            
            success: function(dataRetrieved) {
              if (dataRetrieved.articleNumber == 0){
                 submitButton.attr("disabled", true);
                  $(".submit").attr("href", "#");
                  submitButton.text("No articles for the selection");
          
              }
              else{
                submitButton.attr("disabled", false);
                submitButton.text("Go: " + dataRetrieved.articleNumber + " articles");    
                $(".tag").each(function(){
                  if ($.inArray($(this).text(), dataRetrieved.moods) > -1)
                    $(this).show("slow")
                    //$(this).attr("disabled", false);
                  else
                    $(this).hide("slow")
                    //$(this).attr("disabled", true);

                })        
              }
            }
          });
        }
      }

      $(document).ready(function() {
        {{#if selected_tag}}
          $(".tag").each(function() {
            if ($(this).text() == "{{selected_tag}}") {
              tag_clicked($(this));
            }
          });        
        {{/if}}
      });

    	$(".tag").click(function () {
        tag_clicked($(this));
    	});

    	$(".submit").click(function(){
    		var post = {};
   		$(".btn-success").each(function(){post[$(this).text()] = true;});
    		var query='';
    		var key;
    		for (key in post)
    			query=query+'tags[]='+key+'&';
    		query = query.slice(0,-1);
    		$(".submit").attr("href","/results?"+query);
    	});
  	</script>
  </body>
  </html>
