<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Rose Bud Thorn</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
  </head>
 
  <body>
    <div class="container">
      <nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">RBT</a>
          <a class="navbar-brand" href="/profile">Me</a>
        </div>
      </nav>
      <br /><br /><br />
      <h1 class="text-center">Rose Bud Thorn</h1>
      <br />
Edit Page
      <!--{{#each rbt}}
      <center>
        <img src={{photo_user}} style="width: 150px; height: 150px;">
        <h3>{{name}}</h3>
      </center>
      {{/each}}

      <form name="input" action="profile" method="post">
        <table class="table" style="margin-top:30px;">
          <tbody>
            <tr style="height: 150px">
              <td>
                <span class="label label-default pull-left">Photo</span>
                <textarea name="photo" maxlength="199" class="form-control" style="margin: 0px; height: 140px; width: 129px;"></textarea>
              </td>
              <td>
                <span class="label label-danger pull-left">Rose</span>
                <textarea name="rose" maxlength="199" class="form-control" style="margin: 0px; height: 140px; width: 129px;"></textarea>
              </td>
            </tr>
            <tr style="height: 150px">
              <td style="text-align: center;" class="text-left">
                <span class="label label-success pull-left">Bud</span>
                <textarea name="bud" maxlength="199" class="form-control" style="margin: 0px; height: 140px; width: 129px;"></textarea>
              </td>
              <td>
                <b></b>
                <span class="label label-warning pull-left">Thorn</span>
                <textarea name="thorn" maxlength="199" class="form-control" style="margin: 0px; height: 140px; width: 129px;"></textarea>
              </td>
            </tr>
          </tbody>
        </table>
        <center><input type="submit" value="Submit"></center>
        <br />
      </form>


    </div>-->

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>