/* Header CSS */
.logo-full {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    vertical-align: middle;
}
.page-top {
    margin-top: 120px;
}
@media(max-width: 600px) {
    .page-top {
        margin-top: 100px;
    }
}
@media(max-width: 500px) {
    .page-top {
        margin-top: 90px;
    }
}
@media(max-width: 400px) {
    .page-top {
        margin-top: 80px;
    }
}
@media(max-width: 350px) {
    .page-top {
        margin-top: 60px;
    }
}

.parent {
    white-space: nowrap;
}
.child {
    display: inline-block;
    white-space: normal;
}
.arrow {
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
}
.logo-thumb{
    margin-top: 5px;
    margin-bottom: 5px;
    height: 50px;
    width: 50px;
}

/* Link CSS */
a {
     color: #000080;
     font-weight: 900;
     text-decoration: none;
     /*pointer-events: none;*/
}

/* Keeping the below css for reference */
/* applies to anything of class "example-class-selector" */
.example-class-selector {
	margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
	/* Colors are in hexadecimal: http://www.colorpicker.com/ */	
	color: #CC00AA;
}

.jumbotron {
	position: relative;
	background: none;
}

.jumbotron:after {
     content:"";
     background: url("../images/lorempixel.jumbotron.jpeg");
     opacity: 0.2;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: absolute;
     z-index: -1;	
}

.jumbotron p {
     color: #6e6e6e;
}

.project a {
     text-align: center;
}

.center {
     text-align: center;
}
body { padding-bottom: 70px; }

/* For bottom navbar breadcrumb */
.navbar .breadcrumb {
     margin: 10px 0px;
     vertical-align: center;
}