/* Header CSS */
.logo-full {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    vertical-align: middle;
}
.page-top-default {
  margin-top: 60px;
}
.page-top {
    margin-top: 120px;
}
@media(max-width: 600px) {
    .page-top {
        margin-top: 100px;
    }
}
@media(max-width: 500px) {
    .page-top {
        margin-top: 90px;
    }
}
@media(max-width: 400px) {
    .page-top {
        margin-top: 80px;
    }
}
@media(max-width: 350px) {
    .page-top {
        margin-top: 60px;
    }
}

.parent {
    white-space: nowrap;
}
.child {
    display: inline-block;
    white-space: normal;
}
.arrow {
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
}
.logo-thumb{
    margin-top: 5px;
    margin-bottom: 5px;
    height: 50px;
    width: 50px;
}

/* Link CSS */
a {
     color: #000080;
     font-weight: 900;
     text-decoration: none;
     /*pointer-events: none;*/
}

/* Keeping the below css for reference */
/* applies to anything of class "example-class-selector" */
.example-class-selector {
	margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
	/* Colors are in hexadecimal: http://www.colorpicker.com/ */	
	color: #CC00AA;
}

.project a {
     text-align: center;
}

.center {
     text-align: center;
}
body { padding-bottom: 70px; }

.btn-black {
     background-color: hsl(0, 0%, 30%) !important;
  border-color: #212121 #212121 hsl(0, 0%, 15%);
  color: #fff !important;
}

.btn-red {
  color: #ffffff !important;
  background-color: #d9534f;
  border-color: #d43f3a;
}
.btn-red:hover,
.btn-red:focus,
.btn-red:active,
.btn-red.active {
  color: #ffffff;
  background-color: #d2322d;
  border-color: #ac2925;
}

.btn-orange {
  color: #ffffff;
  background-color: #f0ad4e;
  border-color: #eea236;
}
.btn-orange:hover,
.btn-orange:focus,
.btn-orange:active,
.btn-orange.active,
.open .dropdown-toggle.btn-warning {
  color: #ffffff;
  background-color: #ed9c28;
  border-color: #d58512;
}

.btn-blue {
  color: #ffffff;
  background-color: #428bca;
  border-color: #357ebd;
}
.btn-blue:hover,
.btn-blue:focus,
.btn-blue:active,
.btn-blue.active,
.open .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #3276b1;
  border-color: #285e8e;
}


.btn-yellow { 
  color: #ffffff; 
  background-color: #EDE103; 
  border-color: #D1C700; 
} 
 
.btn-yellow:hover, 
.btn-yellow:focus, 
.btn-yellow:active, 
.btn-yellow.active, 
.open .dropdown-toggle.btn-yellow { 
  color: #ffffff; 
  background-color: #E3D000; 
  border-color: #D1C700; 
} 
 
.btn-yellow:active, 
.btn-yellow.active, 
.open .dropdown-toggle.btn-yellow { 
  background-image: none; 
} 


.btn-purple { 
  color: #ffffff; 
  background-color: #5502B3; 
  border-color: #2B005C; 
} 
 
.btn-purple:hover, 
.btn-purple:focus, 
.btn-purple:active, 
.btn-purple.active, 
.open .dropdown-toggle.btn-purple { 
  color: #ffffff; 
  background-color: #460294; 
  border-color: #2B005C; 
} 
 
.btn-purple:active, 
.btn-purple.active, 
.open .dropdown-toggle.btn-purple { 
  background-image: none; 
} 

.btn-green { 
  color: #ffffff; 
  background-color: #115E0D; 
  border-color: #072605; 
} 
 
.btn-green:hover, 
.btn-green:focus, 
.btn-green:active, 
.btn-green.active, 
.open .dropdown-toggle.btn-green { 
  color: #ffffff; 
  background-color: #0F540B; 
  border-color: #072605; 
} 
 
.btn-green:active, 
.btn-green.active, 
.open .dropdown-toggle.btn-green { 
  background-image: none; 
} 
